* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --font-color: #000;
  --font-size: 13pt; /*13*/
  --line-height: 13pt; /*15*/
  }

/*Changes map size for desktop. Ref. the mobile @media below to see about --background-ratio*/
@media only screen and (min-width: 800px) {
:root {
--background-ratio: 1;
}
}

/*Changes map size for mobile and sets the mobile ratio to 0.428 by making setting a variable --background-ratio.
This changes all of the relevant sizes to change the background images size*/
@media only screen and (max-width: 800px) {
:root {
--background-ratio: 0.428;

}
}

html {
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

body {
    -webkit-overflow-scrolling: touch;
    background-color: #2B031E;
}

/*Custom fonts*/
@font-face {
  font-family: CanelaLight;
  src: url("../assets/Canela-Light.otf");
}

@font-face {
  font-family: PMGroteskLight;
  src: url("../assets/PMGrotesk-Light1.otf");
}

@font-face {
  font-family: HKGrotesk-Regular;
  src: url("../assets/HKGrotesk-Regular.otf");
}

@font-face {
  font-family: HKGrotesk-SemiBold;
  src: url("../assets/HKGrotesk-SemiBold.otf");
}

@font-face {
  font-family: CanelaRegularItalics;
  src: url("../assets/Canela-RegularItalic.otf");
}
/*Background*/

.block {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: -500;
  opacity: 1;
}

a {
  color: #A8830F;
}

#background {
  z-index: -1;
  width: calc(var(--background-ratio)*14401px);
  height: calc(var(--background-ratio)*13362px);
}

.row {
    position: absolute;
}

#background img {
    margin: -2px;
    position: relative;
    display: inline-block;
    width: calc(var(--background-ratio)*1440px);
    height: calc(var(--background-ratio)*1485px);
}

/*1485px is the height of the  images*/
#background .row-1 {top: 0;}
#background .row-2 {top: calc(var(--background-ratio)*1*1485px);}
#background .row-3 {top: calc(var(--background-ratio)*2*1485px);}
#background .row-4 {top: calc(var(--background-ratio)*3*1485px);}
#background .row-5 {top: calc(var(--background-ratio)*4*1485px);}
#background .row-6 {top: calc(var(--background-ratio)*5*1485px);}
#background .row-7 {top: calc(var(--background-ratio)*6*1485px);}
#background .row-8 {top: calc(var(--background-ratio)*7*1485px);}
#background .row-9 {top: calc(var(--background-ratio)*8*1485px);}
#background .row-10 {top: calc(var(--background-ratio)*9*1485px);}

input:focus {
    outline:none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 15%;
}

#menu {
    list-style: none;
    padding-left: 10px;
    width: 250px;
    font-family: HKGrotesk-SemiBold;
}

li {
  margin: 5px;
  color: #37a37a;


}

.logo {
    max-width: 80%;
    margin-top: 10%;
    margin-left: 5%;
}

li {
  margin: -2px;
  font-size: 20px;
}

.jiggle:hover {
  animation: pulse 1s infinite;
  transition: .3s;
  cursor: pointer;
}

#menuButton {
  display: none;

}

#menu {
  display: block;
}

#desktopReturnHome {
  font-family: HKGrotesk-SemiBold;
}

#mapIcon {
  width: 5%;
  right: 1%;
  position: fixed;
  top: 13%;
  opacity: 25%;
}

#mapIconMobile {
  display: none;
  width: 15%;
  right: 1%;
  position: fixed;
  top: 12%;
  opacity: 25%;
}

#miniMap {
  display: none;
  z-index: 1;
  position: fixed;
  top:  10%;
  height: 80%;
  left: 30%;
}

#miniMapMobile {
  display: none;
  z-index: 1;
  position: fixed;
  top: 10%;
  width: 90%;
  left: 5%;
}

#musicIcon {
  width: 5%;
  right: 1%;
  position: fixed;
  top: 3%;
  opacity: 25%;
}

#musicIcon:hover, #musicIconMobile:hover, #mapIcon:hover, #mapIconMobile:hover {
opacity: 100%;
}

#musicIconMobile {
  display: none;
  width: 15%;
  right: 1%;
  position: fixed;
  top: 2%;
  opacity: 25%;
}

#mc_embed_signup_scroll {
  font-family: PMGroteskLight;
  color: #13020D;
  
}

#mce-EMAIL {
  background-color: transparent;
  border: 1px solid #A8830F;
    background-color: transparent;
    color: #A8830F;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
}

#mc-embedded-subscribe {
  display: inline-block;
    border: none;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    /* background: #0069ed; */
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #A8830F;
    background-color: transparent;
    color: #A8830F;
    border-radius: 6px;
}

#JeanImage {
    position: relative;
    width: 75%;
}

.modalList {
    left: 20%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;/*change this to "none" for pop up to be gone at first*/
    overflow: hidden;
}

.listBox {
    position: fixed;
    width: 350px;
    min-height: 100px;
    height: 40%;
    background-repeat: no-repeat;
    background-position: 20px 30px;
    margin-left: 250px;
    margin-top: 130px;
    border: 2px solid #A8830F;
    border-radius: 15px;
    background-color: #F0E7D8;
    color: #A8830F;
}

.topBarList {
    margin-left: 5px;
    top: 6%;
    position: absolute;
    width: 95%;
    font-size: 12px;
    font-family: CanelaLight;
    padding: 2px 0px 2px 15px;
    height: 10%;
    z-index: 1;
}

/*Pop Up*/

.modalContainerX {
    position: fixed;
    margin-top: -10%;
    left: 25%;
    width:150%;
    height:200%;
    z-index:1;
    display: none; /*change this to "none" for pop up to be gone at first*/
    overflow: hidden;
}

.modalContainerArtwork {
    position: absolute;
    width: 150%;
    height: 365%;
    z-index:1;
    display: none; /*change this to "none" for pop up to be gone at first*/
    overflow: hidden;
}

#alertBox {
    position: absolute;
    width: 40%;
    min-height: 100px;
    height: 30%;
    top: 250px;
    border: 2px solid #A8830F;
    border-radius: 15px;
    background-color: #F0E7D8;
    background-repeat: no-repeat;
    background-position: 20px 30px;
    color: #A8830F;


    /*opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;*/
}

#EmbeddedImage {
  width: 80%;
}

.videoBox {
  height: 30% !important;
}

.topbar {
    margin-left: 5px;
    top: 3%;
    position: absolute;
    width: 95%;
    font-size: 12px;
    font-family: CanelaLight;
    padding: 2px 0px 2px 15px;
    height: 7%;
    z-index: 1;
}

.topbar h1 {
    top: 5px;
    width: 70%;
    float: left;
}

#topbar {
  margin: 0.1em;
  font-size: 2em;
}

.x-icon {
    position: relative;
    height: 60%;
    float: right;
    margin: 0;
    top: 0;
    cursor: pointer;
}

#alertBox .video {
    left: 0px;
    /* min-width: 100%; */
    /* min-height: 100%; */
    width: 100%;
    /* height: 10%; */
    padding: 5%;
    color: #13020D;

}

.listBox .contentContainer {
  padding: 0px 20px 20px 20px;
}

.contentContainer {
    width: 100%;
    margin-bottom: 10px;
    padding: 30px 20px 20px 20px;
    height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
    z-index: 10;
}

.contentContainer h1 {
  font-family: CanelaLight;
  color: #A8830F;
  margin: 1px 1px 1px 1px;
}

.contentContainer p {
  font-family: PMGroteskLight;
}

.Sources {
  color: black;
  font-size: 10pt;
  font-family: CanelaRegularItalics !important;
}



#alertBox #closeModal {
    top: 5%;
    right: 5%;
    display:block;
    position:absolute;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
    font:0.7em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    border-radius: 3px;
    text-decoration:none;
    color: #13020D;
}

#alertBox #closeModal button {
  width: 100%;
}

/*Popup for Section 1 Object 1
#Popup1 {
    left: 1600px;
    top: 9300px;
}*/

.button1 {
    left: 1800px;
    top: 9200px;
    position: absolute;
    max-height: 350px;
}
/*Popup for Section 1 Object 2
#Popup2 {
    left: 1495px;
    top: 9400px;
}*/

.button2 {
    left: 1495px;
    top: 9000px;
    position: absolute;
    max-height: 350px;
}
/*Popup for Section 1 Object 3
#Popup3 {
    left: 1700px;
    top: 7800px;
}*/

.button3 {
    left: 1600px;
    top: 8050px;
    position: absolute;
    max-height: 350px;
}
/*Popup for Section 1 Object 4
#Popup4 {
    left: 2100px;
    top: 8800px;
}*/

.button4 {
    left: 2000px;
    top: 8700px;
    position: absolute;
    max-height: 350px;
}
/*Popup for Section 1 Object 5
#Popup5 {
    left: 3000px;
    top: 7200px;
}*/

.button5 {
    left: 3300px;
    top: 7000px;
    position: absolute;
    max-height: 350px;
}

.L_1 {
  left: 2500px;
    top: 9900px;
    position: absolute;
    max-height: 350px;
}

.VD1 {
  left: 1400px;
    top: 3711px;
    position: absolute;
    max-height: 350px;

}

.VD2 {
      left: 2800px;
    top: 4111px;
    position: absolute;
    max-height: 350px;
}

.VD3 {
  left: 3100px;
    top: 5011px;
    position: absolute;
    max-height: 350px;
}

.VD4 {
  left: 4300px;
    top: 5011px;
    position: absolute;
    max-height: 350px;
}

.A1 {
  left: 5671px;
    top: 2311px;
    position: absolute;
    max-height: 350px;
}

.A2 {
      left: 6500px;
    top: 2111px;
    position: absolute;
    max-height: 350px;
}

.A3 {
      left: 6500px;
    top: 3104px;
    position: absolute;
    max-height: 350px;
}

.A4 {
      left: 5500px;
    top: 3604px;
    position: absolute;
    max-height: 350px;
}

.A5 {
  left: 6100px;
    top: 4804px;
    position: absolute;
    max-height: 350px;
}

/*.E1 {
  left: 7500px;
    top: 6604px;
    position: absolute;
    max-height: 350px;
}*/

.E2 {
  left: 7100px;
    top: 7804px;
    position: absolute;
    max-height: 350px;
}

.E3 {
  left: 6600px;
    top: 7104px;
    position: absolute;
    max-height: 350px;
}

.E4 {
  left: 5300px;
    top: 6804px;
    position: absolute;
    max-height: 350px;
}
.Afua {
  max-width: 300px
}

@media only screen and (max-width: 800px) {
  .Afua {
    display: none;
  }
}













.myclass {
  color: black;
  font-size: 20pt;
  font-family: Garamond !important;
  width: 1000px;
}

#BLMSImage {
  left: 7150px;
  top: 7904px;
  position: absolute;
}

#BLMS {
  left: 6800px;
  top: 8304px;
  position: absolute;
}

#sketchupImage {
  left: 2000px;
  top: 7504px;
  position: absolute;
}

#sketchuptext {
  left: 1650px;
  top: 7904px;
  position: absolute;
}

#blenderImage {
  left: 1750px;
  top: 4754px;
  position: absolute;
}

#blendertext {
  left: 1420px;
  top: 5004px;
  position: absolute;
}

#gathertownImage {
  left: 5050px;
  top: 3904px;
  position: absolute;
}

#gathertowntext {
  left: 4700px;
  top: 4154px;
  position: absolute;
}

#minecraftImage {
  left: 6370px;
  top: 2084px;
  position: absolute;
}

#minecrafttext {
  left: 6020px;
  top: 2334px;
  position: absolute;
}

#mozillaImage {
  left: 8140px;
  top: 2084px;
  position: absolute;
}

#mozillatext {
  left: 7790px;
  top: 2334px;
  position: absolute;
}

#videoImage {
  left: 9970px;
  top: 3444px;
  position: absolute;
}

#videoImage2 {
  width: 200px;
  height: 200px;
}

#videotext {
  left: 9590px;
  top: 3734px;
  position: absolute;
}

#walkImage {
  left: 12420px;
  top: 4224px;
  position: absolute;
}

#walkImage2 {
  width: 200px;
  height: 200px;
}

#walktext {
  left: 12040px;
  top: 4574px;
  position: absolute;
}

#frameImage {
  left: 12280px;
  top: 7084px;
  position: absolute;
}

#frameImage2 {
  width: 170px;
  height: 170px;
}

#frametext {
  left: 11870px;
  top: 7474px;
  position: absolute;
}














#AfuaImage {
  left: 2950px;
  top: 9655px;
  position: absolute;
}

.Oreca {
  max-width: 200px;
}

@media only screen and (max-width: 800px) {
  .Oreca {
    display: none;
  }
}

#OrecaImage {
  left: 2950px;
  top: 8600px;
  position: absolute;
}

/*Changes popup size for mobile*/
@media only screen and (max-width: 800px) {
.modalContainerX {
    width:100%;
    top:0px;
    left:5%;
    z-index:10;
    display: none; /*change this to "none" for pop up to be gone at first*/
    overflow: hidden;
    margin-top: -50%
}


#alertBox {
  width: 90%;
  height: 45%;
}

#guide {
  width: 45% !important;
    margin-top: -120px;
    margin-left: -70px;
}

/*Popup for Section 1 Object 1
#Popup1 {
    left: 750px;
    top: 3900px;
}*/

.button1 {
    left: 820px;
    top: 3950px;
    position: absolute;
    width: 15%;
}
/*Popup for Section 1 Object 2
#Popup2 {
    left: 614.3125px;
    top: 3811.46875px;
}*/

.button2 {
    left: 636.3125px;
    top: 3862px;
    position: absolute;
    width: 15%;
}
/*Popup for Section 1 Object 3
#Popup3 {
    left: 770px;
    top: 3300px;
}*/

.button3 {
    left: 800px;
    top: 3500px;
    position: absolute;
    width: 15%;
}
/*Popup for Section 1 Object 4
#Popup4 {
    left: 900px;
    top: 3700px;
}*/

.button4 {
    left: 1000px;
    top: 3750px;
    position: absolute;
    width: 15%;
}
/*Popup for Section 1 Object 5
#Popup5 {
    left: 1200px;
    top: 2700px;
}*/

.button5 {
    left: 1250px;
    top: 3100px;
    position: absolute;
    width: 15%;
}

.VD1 {
  left: 700px;
    top: 1811px;
    position: absolute;
    max-height: 350px;

}

.VD2 {
    left: 1200px;
    top: 1833px;
    position: absolute;
    max-height: 350px;
}

.VD3 {
    left: 1300px;
    top: 2333px;
    position: absolute;
    max-height: 350px;
}

.VD4 {
    left: 1900px;
    top: 2333px;
    position: absolute;
    max-height: 350px;
}

.A1 {
    left: 2500px;
    top: 1133px;
    position: absolute;
    max-height: 350px;
}

.A2 {
    left: 2900px;
    top: 1133px;
    position: absolute;
    max-height: 350px;
}

.A3 {
    left: 2900px;
    top: 1433px;
    position: absolute;
    max-height: 350px;
}

.A4 {
    left: 2400px;
    top: 1633px;
    position: absolute;
    max-height: 350px;
}

.A5 {
    left: 2700px;
    top: 2133px;
    position: absolute;
    max-height: 350px;
}

.E1 {
    left: 3300px;
    top: 2933px;
    position: absolute;
    max-height: 350px;
}

.E2 {
    left: 3100px;
    top: 3533px;
    position: absolute;
    max-height: 350px;
}

.E3 {
    left: 2900px;
    top: 3233px;
    position: absolute;
    max-height: 350px;
}

.E4 {
    left: 2300px;
    top: 3033px;
    position: absolute;
    max-height: 350px;
}

.L_1 {
  left: 1150px;
    top: 4350px;
    position: absolute;

}

#alertBox .video {
    width: 100%;
    position: fixed;
    margin-top: 15%;
}

.youtubeVideo {
  height: 40%;
}

.videoBox {
  height: 20% !important;
}

.topbar {
  height: 6% !important;
  top: 3% !important;
}


.fixed {
  top: 2%;
}

.modalList {
  margin-top: 40%
}

.listBox {
  width: 87%;
  margin-left: 5%;
  margin-top: 100px;
}

.logo {
  max-width: 200%;
  margin: 20%;
}

#menu {
  display: none;
  margin-top: -30%;
  font-family: HKGrotesk-Regular;
}

ul {
  margin-top: -10%;
  list-style-type: none;
}

#menuButton {
  display: block;;
  list-style: none;
  padding-left: 10px;
  width: 250px;
  font-family: HKGrotesk-SemiBold;
}

#desktopReturnHome {
  display: none;
}

#mapIcon {
  display: none;
}

#mapIconMobile {
  display: block;
}

#musicIcon {
  display: none;
}

#musicIconMobile {
  display: block;
}

}

/*Ends Mobile popups*/

.main-content {
  margin: 4em auto 0;
  width: 740px;
  text-transform: uppercase;
}

@media screen and (max-width: 740px) {
.main-content
{ display:none; }
}

.ticket {
  display: grid;
  grid-template-columns: auto 143px;
  background: #f3f1c9;
  border-radius: 10px;
  border: 2px solid #222;
  cursor: default;
}
.ticket__main {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 120px;
  grid-template-rows: repeat(4, min-content) auto;
  padding: 10px;
}

.header {
  grid-area: title;
  grid-column: span 7;
  grid-row: 1;
  font: 900 38px "Montserrat", sans-serif;
  padding: 5px 0 5px 20px;
  letter-spacing: 6px;
  background: #111;
  color: #f3f1c9;
}

.info {
  border: 3px solid;
  border-width: 0 3px 3px 0;
  padding: 8px;
}
.info__item {
  font: 400 13px "Questrial", sans-serif;
  letter-spacing: 0.5px;
}
.info__detail {
  font: 700 20px/1 "Jura";
  letter-spacing: 1px;
  margin: 4px 0;
}

.passenger {
  grid-column: 1/span 6;
}

.platform {
  grid-column: 7/span 1;
  grid-row: 2/span 3;
  background: #004F2D;
  color: #fff;
  border-color: #000;
  text-align: center;
  padding: 10px 0;
}
.platform span {
  display: block;
}
.platform span:nth-child(1) {
  font: 900 22px/1 "Montserrat";
  letter-spacing: 1.5px;
}
.platform span:nth-child(2) {
  font: 900 29px/1 "Montserrat";
  letter-spacing: 3px;
}
.platform span:nth-child(3) {
  font: 900 16px/1.2 "Montserrat";
  letter-spacing: 0.5px;
}
.platform .number {
  display: flex;
  margin-top: 5px;
  position: relative;
}
.platform .number div:nth-child(1) {
  position: absolute;
  left: 16px;
  font: 15px/1 "Old Standard TT";
}
.platform .number span {
  font:  "Old Standard TT";
  position: absolute;
  margin-top: 20px;
  right: 5px;
}
.platform .number span:nth-child(1) {
  top: 2px;
  font: 10px;
  border-bottom: 2px solid;
  padding: 0 2px;
}
.platform .number span:nth-child(2) {
  top: 40px;
  font-size: 15px;
}

.departure, .arrival {
  grid-column-start: span 3;
}

.passenger, .departure, .date {
  border-left: 3px solid;
}

.date, .time {
  grid-column-start: span 2;
}

.fineprint {
  grid-column-start: span 5;
  font-size: 14px;
  font-family: "Inconsolata";
  line-height: 1;
  margin-top: 10px;
  padding-right: 5px;
}
.fineprint p:nth-child(2) {
  margin: 4px 4px 0 0;
  padding-top: 4px;
  border-top: 1.5px dotted;
  font: 11px/1 "Inconsolata";
}

.snack {
  grid-column: 6/span 1;
  width: 65px;
  margin: 10px 10px 0 0;
  position: relative;
  background: #000;
  padding: 6px 0 2px;
  text-align: center;
  border-radius: 5px;
}
.snack svg {
  fill: #f3f1c9;
  width: 36px;
}
.snack__name {
  color: #f3f1c9;
  font-size: 12px;
}

.barcode {
  grid-column-start: span 1;
  display: grid;
  margin: 10px 0 0;
  grid-template-rows: 1fr min-content;
}
.barcode__scan {
  background: linear-gradient(to right, #333 2%, #333 4%, transparent 4%, transparent 5%, #333 5%, #333 6%, transparent 6%, #333 6%, #333 8%, transparent 8%, transparent 9%, #333 9%, #333 10.5%, transparent 10.5%, transparent 11%, #333 11%, #333 12%, transparent 12%, transparent 13.5%, #333 13.5%, #333 15%, #333 17%, transparent 17%, transparent 19%, #333 19%, #333 20%, transparent 20%, transparent 21%, #333 21%, #333 22%, transparent 22%, transparent 23.5%, #333 23.5%, #333 25%, transparent 25%, transparent 26.5%, #333 26.5%, #333 27.5%, transparent 27.5%, transparent 28.5%, #333 28.5%, #333 30%, transparent 30%, transparent 32%, #333 32%, #333 34%, #333 36%, transparent 36%, transparent 37.5%, #333 37.5%, #333 40%, transparent 40%, transparent 41.5%, #333 41.5%, #333 43%, transparent 43%, transparent 46%, #333 46%, #333 48%, transparent 48%, transparent 49%, #333 49%, transparent 49%, transparent 50%, #333 50%, #333 51%, transparent 51%, transparent 53%, #333 53%, #333 54.5%, transparent 54.5%, transparent 56%, #333 56%, #333 58%, transparent 58%, transparent 59%, #333 59%, #333 60%, #333 62.5%, transparent 62.5%, transparent 64%, #333 64%, #333 64%, #333 67%, transparent 67%, transparent 69%, #333 69%, #333 70%, transparent 70%, transparent 71%, #333 71%, #333 72%, transparent 72%, transparent 73.5%, #333 73.5%, #333 76%, transparent 76%, transparent 79%, #333 79%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 82.5%, transparent 82.5%, transparent 84%, #333 84%, #333 87%, transparent 87%, transparent 89%, #333 89%, #333 91%, transparent 91%, transparent 92%, #333 92%, #333 95%, transparent 95%);
}
.barcode__id {
  letter-spacing: 4px;
  padding: 2px 0 0;
  color: #004F2D;
  font: 700 16px/1 "Jura";
}

.ticket__side {
  background: rgba(192, 42, 40, 0.2);
  box-sizing: border-box;
  border-left: 1.5px dashed #111;
  display: grid;
  grid-template-rows: repeat(2, 124px) 60px;
  grid-template-columns: 40px repeat(2, 45px);
  border-radius: 0 10px 10px 0;
}
.ticket__side .logo {
  text-align: center;
  background: #004F2D;
  padding: 10px 5px 10px 0px;
  margin: 10px 0 0 10px;
  font: 900 16px/1 "Montserrat";
  letter-spacing: 1.5px;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
  position: relative;
  color: #fff;
  writing-mode: vertical-rl;
}
.ticket__side .logo p {
  transform: rotate(180deg);
}
.ticket__side .info {
  border: 3px solid #004F2D;
  border-width: 3px 3px 0;
  grid-column-start: 2;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.ticket__side .info.side-arrive {
  margin-top: 10px;
  border-width: 3px;
}
.ticket__side .info.side-date {
  grid-column-start: 3;
  border-right: none;
}
.ticket__side .info.side-time {
  grid-column: 3/span 1;
  grid-row: 1;
  margin-top: 10px;
  border-width: 3px 0 3px 3px;
}
.ticket__side .info__item {
  font-size: 11px;
  color: #004F2D;
}
.ticket__side .info__detail {
  font-size: 12px;
  margin: 0 2px 0 0;
  letter-spacing: 0px;
}
.ticket__side .barcode {
  grid-template-rows: 30px min-content;
  grid-row-start: 3;
  grid-column: 1/span 3;
  margin: 9px 0 0 10px;
  text-align: center;
}

/* Mobile Ticket */

@media screen and (min-width: 741px) {
.mobileticket
{ display:none; }
}

.mobileticket {
  margin: 6em auto 0;
}

/* End of Mobile Ticket */

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 3, 30, .9);
    z-index: 1001;
}
#popup {
    background: rgba(255, 255, 255, 0);
    display: flex;
    aligh-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;

}

.enter{
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  font-family: HKGrotesk-SemiBold;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -85px;
  background-color: transparent;
  border: 3px solid #37a37a;
  color: #37a37a;
  transition: .3s;
  border-radius: 10px;
}

.enter:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

div.about {
  font-family: HKGrotesk-SemiBold;
  position:fixed;
  bottom: 0%;
  margin: 0 auto;
  width: 170px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: -85px;
  left: 50%;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 3px solid #37a37a;
  color: #37a37a;
  transition: .3s;
  opacity: .33;
  border-radius: 10px;

}

#aboutiframe {
    position:fixed;
    bottom: 0%;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 30px;
    margin-left: -150px;
    left: 50%;
    background-color: transparent;
    border: 0px solid #37a37a;
  }

#menuiframe {
    position:fixed;
    top: 0%;
    width: 300px;
    height: 300px;
    left: 0%;
    background-color: transparent;
    border: 0px solid blue;
  }

div.about:hover {
  animation: pulse 1s infinite;
  transition: .3s;
  opacity: 1;
}

}

input[type="button"]{
   outline:none;
}

/* Music button */

button {
position: fixed;
top: 1%;
right: 1%;
cursor: pointer;
background-color: transparent;
border-color: transparent;
margin-bottom: 1%;
outline: transparent;
font-size: 5vh;
opacity: 25%;
border: 1px solid #37a37a;
}

button:hover {
opacity: 100%;
outline: transparent;
}

.progress {
  background-color: white;
  border: 1px solid #37a37a;
}

::-webkit-progress-bar {
  background-color: #2B031E;
  border: 1px solid #37a37a;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  position:fixed;
  top: 0%;
  margin: 0 auto;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-left: -150px;
  left: 50%;
  display: inline-block;
  z-index:10;
  overflow: hidden;
}

#progressbar {
}

progress[value]::-webkit-progress-value {
    background-color: #37a37a;
    border-radius: 15px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar {
  background-color: #37a37a;
  border-radius: 15px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

::-webkit-progress-value {
  transition: width 1s;
}
